@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap");
@import "./varibles.scss";
@import "./breakpoints.scss";
@import "./loginpage.scss";
@import "./profile.scss";
@import "./forgetPassword.scss";
@import "./dashboard.scss";
@import "./user-list.scss";
@import "~bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
}

body,
html {
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F6F9;
}

.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}

.page {
  height: 100vh;
  width: 100%;
  background: $white;

  .row {
    display: flex;
    align-items: center;
  }

  button{
    
  }

  svg {
		color: white !important;

		overflow: visible;

		path {
			fill: white !important;
		}
	}
}