@import './bootstrap/bootstrap';
@import './bootstrap/variables';
@import './bootstrap/mixins';

$font-primary: 'Poppins',
Arial,
sans-serif;
$primary: #2B333E;

//SIDEBAR
.wrapper {
	width: 100%;
	background-color: rgb(245, 246, 249);
}

#sidebar {
	min-width: 240px;
	max-width: 240px;
	background: $primary;
	color: #fff;
	transition: all 0.3s;

	.navShifter {
		width: 100%;
		display: flex;
		margin-top: 30px;
		justify-content: center;

		button {
			background-color: #252c35;
			border-color: #21272f;
			margin: 0 auto !important;

		}
	}

	svg {
		color: white !important;

		overflow: visible;

		path {
			fill: white !important;
		}
	}

	ul {
		li {
			font-size: 14px;
			
			a {
				padding: 12px 0;
				text-decoration: none;
				margin: 0;

				span {
					margin-left: 10px;
					font-size: 14px;
					vertical-align: middle;
					img{
						margin-top: 11px;
					}
				}
			}

			&:hover {
				background-color: #12131a;
			}
		}
	}

	&.active {
		min-width: 60px;
		max-width: 60px;
		text-align: center;

		ul {
			li {
				font-size: 14px;

				a {
					padding: 10px 0;

					span {
						display: none;
					}
				}

				&:hover {
					background-color: #12131a;
				}
			}

		}

		.logo {
			padding: 10px 0;
		}

		.footer {
			display: none;
		}


	}

	ul {
		padding: 0;
		@include transition(.3s);
	}

	ul {
		li {
			font-size: 16px;

			>ul {
				margin-left: 0px;

				li {
					font-size: 14px;
				}
			}

			a {
				padding: 10px 20px 10px 30px;
				display: block;
				color: rgba(255, 255, 255, 1);

				span {
					margin-right: 15px;

					.button {
						background-color: #41B314;
						padding: 0;
						margin-top: 5px;
						width: 67px;
						float: right;
						height: 20px;
						font-size: 11px;
						font-weight: bold;
						border: none;
					}

					img {
						float: right;
						height: 12px;
						vertical-align: middle;
					}
				}

				&:hover {
					color: $white;
				}
			}

			&.active {
				>a {
					background: transparent;
					color: $white;
				}
			}
		}
	}
}


.hideSidebar {

	display: none;
}