.user-list {
    box-sizing: border-box;

    // #f8f9fa
    .padding {
        padding: 10px 30px;
        background-color: #f8f9fa;
    }

    .container-fluid {
        border: solid lightgray 1px;
        margin: 2%;
        width: 96%;
        border-radius: 3px;
        background-color: #fff;
        padding: 15px;
        padding-top: 0;

        .button-new-user {
            height: 25px;
            padding: 4px 8px;
            background-color: #5bc0de;
            top: -0.4em;
            font-size: 11px;
            border-radius: 3px;
            border-color: #4ebbdb;

            svg {
                height: 13px;
                margin-right: 5px;
            }
        }

        .table-holder {
            padding: 35px 10px;

            .row {
                margin-bottom: 25px;
            }

            table {
                th {
                    font-size: 14px;
                    color: gray;
                    font-weight: normal;
                    border-color: #ddd;
                    border-bottom-style: none;
                    height: 15px;
                    padding: 0.5rem;

                    &:nth-child(1) {
                        width: 4%;
                    }

                    &:nth-child(2) {
                        width: 28%;
                    }

                    &:nth-child(3) {
                        width: 24%;
                    }

                    &:nth-child(4) {
                        width: 28%;
                    }

                }

                td {
                    &:last-child {
                        padding: 0.5rem 0.25rem;

                        svg {
                            margin-left: 7px;
                        }
                    }

                    svg {

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

    }
}

.button-active {
    background-color: rgba(160, 174, 186, 0.2) !important;
    color: #4bc21c !important;
    font-size: 14px !important;
    height: 25px !important;
    padding: 2px 5px !important;
    border: none !important;
}

.MuiPaginationItem-page.Mui-selected {
    background-color: white !important;
    color: #337ab7 !important;

}

.MuiPaginationItem-root {
    background-color: #337ab7 !important;
    min-width: 21px !important;
    height: 25px !important;
    color: white !important;
}

.MuiPaginationItem-page.Mui-disabled {
    display: none;
}

// #337ab7